<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cumque perspiciatis quisquam dignissimos eveniet sint amet voluptatum, maxime obcaecati eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cumque perspiciatis quisquam dignissimos eveniet sint amet voluptatum, maxime obcaecati eaque!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cumque perspiciatis quisquam dignissimos eveniet sint amet voluptatum, maxime obcaecati eaque!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>